table {
    border-collapse: collapse;
    background: #101010;
    border: 1px solid #ffffff; 
     
} 

th,td {
    border: 1px solid black;    
}

a {
    color: #00FFFF;
}

table.a {
    table-layout: auto;
    width: 180px;  
}

table.b {
    table-layout: fixed;
    width: 180px;    
}

table.c {
    table-layout: auto;
    width: 100%;    
}

table.d {
    table-layout: fixed;
    width: 100%;
    margin-bottom: 50px;   
}

iframe {
    margin-left: 15px;
    margin-bottom: 15px;
}